* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #181818;
}

/* Header */
header {
    background-color: #47f785;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 70%;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    
}

.btn {
    background-color: #fff;
    color: #1DB954;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    position: absolute;
    left: 90%;
    top: 7%;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('hero-bg.jpg') no-repeat center center/cover;
    text-align: center;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.btn-hero {
    background-color: #1DB954;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #282828;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    height: 50px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #181818;
    padding: 20px 50px;
    text-align: center;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    height: 20px;
}